.main-layout{
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: 100px auto 100px;
    grid-gap: 10px;
    grid-template-areas:
    "h h  h h h h h h h h h h"
    "m m c c c c c c c c c c "
    "f f f f f f f f f f f f "
    ;
    justify-content: center;
    align-items: center;
}

.header{
    grid-column: h;
    background-color: aqua;
    height: 100px;
}

.header.logo{
    align: center;
}

.header a {
    text-align: center;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

.menu{
    grid-column: m;
    height: 400px;
    background-color: blue;
}

.content{
    grid-column: c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footer{
    grid-column: f;
    background-color: brown;
    height: 100px;
}
.waiting{
    border-radius: 35px;    
}

.waiting img{
    width: 100%;
    height: 40%;
}



.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blogs{
	height: 300px;
	width: 200px;
	padding: 8px;
	background-color: #CCFFFF;
	border-radius: 20px;
	box-shadow: 1px 1px 20px 0px black;
	overflow: hidden;
	margin-bottom: 30px;
}

.blogs h1{
	text-align: center;
	color: blue;
	font-size: 20px;
	letter-spacing: 5px;
	margin: 5px;
}

.blogs img{
	margin: auto;
	display: block;
	border-radius: 12px;
	box-shadow: 2px 4px 20px 5px grey;
}
.blogs p{
    font-size: 12px;
    text-align: center;
}




.paidheader{
    grid-column: h;
    background-color: aqua;
    height: 100px;
    border-radius: 25px;
    box-shadow: 1px 2px 5px 0px gray;
}

.paidheader.logo{
    align: center;
}

.paidheader a {
    text-align: center;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .paidfooter{
    grid-column: f;
    background-color: brown;
    height: 100px;
    border: 2px dashed black;
}

.tarekbaiya{
    height: auto;
    width: auto;
    border: 2px solid red;
    padding: 10px;
}
.tarekbaiya img{
    margin: auto;
    height: 200px;
    width: 200px;
}

.customtarekbaiya{
    height: auto;
    width: 250px;
    padding: 10px;
    box-shadow: 2px 4px 10px 0px grey;
    border-radius: 15px;
    text-align: center;
}
.customtarekbaiya img{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 25px;

}



